<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Error 500</title>
<style>
	 h1 {
            font-size: 75px;
            text-align: center;
            margin-bottom: 150px;
        }
        
      h2 {
            font-size: 45px;
            text-align: center;
            margin-bottom: 150px;
        }
</style>

</head>
<body>
	<h1>Gestión del error 500</h1>
	<h1><div th:text="${error}"></div></h1>
	<h2><a th:href="@{/home}">Volver al Home</a></h2>


	
	<hr>
	
</body>
</html>